/* Fejléc cím styling */
h1 {
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #435d7a;
    text-align: center;
    padding: 10px;
}
body {
    background-image: url('images/bg4.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; /* Eltávolítja a böngésző alapértelmezett margóját */
    height: 100vh; /* Teljes magasság */
}
/* Link és gomb styling */
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Fix szélesség */
    height: 150px; /* Fix magasság */
    background-color: #435d7a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    transition: background-color 0.3s;
    padding: 15px;
}
.note{
    width: 200px; /* Fix szélesség */
    height: auto; /* Fix magasság */
    background-color: #d5dee9;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: block;
    padding: 15px;
}


.button:hover {
    background-color: #93b7de;
}

/* Linkek tárolója */
.linklada {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

/* GitHub link középre igazítása */
p {
    text-align: center;
    
}


/* GitHub ikon styling */
img {
    max-width: 50px;
    
}
